/* .product-box {
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
  }
  
  .product-box img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
  
  .product-box h2 {
    font-size: 24px;
    margin: 20px 0 10px;
  }
  
  .product-box p {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .button {
    background-color: #4CAF50;
    border: none;
    color: #fff;
    display: block;
    font-size: 16px;
    margin: 20px auto 0;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
  } */

  .product-container {
    /* max-width: 500px; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .product-details {
    margin-bottom: 10px;
  }
  
  .product-reviews {
    margin-bottom: 10px;
  }
  
  .product-price {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .seller-info {
    margin-bottom: 10px;
  }
  
  .seller-name {
    font-weight: bold;
  }
  
  .seller-url {
    margin-top: 5px;
  }
  
  .product-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .buy-now {
    background-color: #00bfff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .bargain {
    background-color: #ccc;
    color: #333;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  